# STM32CubeIDE build folders
**/Debug/
**/Release/

# STM32CubeIDE metadata
**/.settings/
**/.cproject
**/.project
**/*.launch

# Build artifacts
**/*.elf
**/*.hex
**/*.bin
**/*.o
**/*.map
**/*.d

# Logs
**/*.log

